.ticket-container {
  margin-top: 5px;
  background-color: #FFFFFF;
  height: 105px;
  width: 553px;
}

.ticket-inner {
  padding: 10px 15px;
  padding-right: 11px;
}

.brand-logo {
  width: 100%;
  height: 20px;
  margin-top: 12px;
}

.brand-name {
  text-align: left;
  font: normal normal bold 9px/11px Muli;
  letter-spacing: 0px;
  color: #363636;
  margin-top: 10px;
}

.initial-time {
  text-align: left;
  font: normal normal bold 16px/20px Muli;
  letter-spacing: 0px;
  color: #363636;
  margin: 0;
}

.finish-time {
  color: #808080;
  text-align: right;
}

.m-lft-10 {
  margin-left: 10px;
}

.m-top-10 {
  margin-top: 10px;
}

.location-name {
  text-align: left;
  font: normal normal bold 12px/16px Muli;
  letter-spacing: 0px;
  color: #363636;
}

.from-to {
  text-align: left;
  font: normal normal bold 12px/18px Muli;
  letter-spacing: 0px;
  color: #808080;
  margin: 0;
}

.time-divider {
  width: 80%;
  margin-left: 10%;
  height: 1px;
  background-color: #808080;
  margin-top: 13px;
}

.time-container {
  width: 60%
}

.bus-type {
  text-align: left;
  font: normal normal 600 10px/13px Muli;
  letter-spacing: 0px;
  color: #24559E;
  margin-top: 8px;
}

.currency {
  text-align: right;
  font: normal normal bold 11px/14px Muli;
  letter-spacing: 0px;
  color: #008A5D;
  margin: 0;
}

.price {
  font: normal normal bold 16px/20px Muli;
}

.taxes {
  text-align: right;
  font: normal normal bold 9px/11px Muli;
  letter-spacing: 0px;
  color: #808080;
  margin: 0;
}

.buy-button {
  width: 103px;
  height: 29px;
  background: #008A5D 0% 0% no-repeat padding-box;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 11px;
}
