.filters-header-container {
  width: 100%;
  position: relative;
  height: 45px;
}

.filters-header-title {
  text-align: left;
  font: normal normal bold 18px/45px Muli;
  letter-spacing: 0px;
  color: #3C3C3C;
  margin: 0;
  margin-left: 15px;
}

.filters-header-action {
  text-align: right;
  font: normal normal 600 12px/15px Muli;
  letter-spacing: -0.2px;
  color: #2558A3;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 13px
}
