body {
  background-color: #F0F1F1;
  margin: 0;
}

.content-container {
  width: 946px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-1 {
  flex: 25%;
  position: relative;
}

.col-2 {
  flex: 50%;
  position: relative;
}

.col-3 {
  flex: 75%;
  position: relative;
}
