.breadcrumb-background {
  width: 100%;
  max-width: 946px;
  height: 60px;
  margin: auto;
  background-color: #F2F2F2;
}

.arrow {
  color: #363636;
  text-align: left;
  font: normal normal bold 16px/20px Muli;
  letter-spacing: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

.link {
  color: #24559E;
  text-align: left;
  font: normal normal bold 16px/20px Muli;
  letter-spacing: 0px;
  line-height: 60px;
  cursor: pointer;
}

.current-page {
  color: #363636;
  text-align: left;
  font: normal normal bold 16px/20px Muli;
  letter-spacing: 0px;
}
