.title-background {
  background: #F0F1F1 0% 0% no-repeat padding-box;
  height: 69px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.separator {
  background: #ED1941 0% 0% no-repeat padding-box;
  height: 69px;
  width: 100%;
}
