.time-filter-container {
  width: 377px;
  height: 168px;
  background-color: #FFFFFF;
}

.time-filter-inner {
  padding: 15px;
  position: relative;
}

.time-filter-clean {
  text-align: right;
  font: normal normal 600 12px/15px Muli;
  letter-spacing: -0.2px;
  color: #2558A3;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.time-subtitle {
  text-align: left;
  font: normal normal bold 10px/20px Muli;
  letter-spacing: 0px;
  color: #363636;
  margin: 0;
}

.time-box {
  width: 94px;
  height: 42px;
  background-color: #F2F2F2;
  border-radius: 3px;
}

.box-margin {
  margin-left: 12px;
}

.time-box-container {
  margin: auto;
  margin-top: 12px;
  width: 200px;
}

.time-text {
  font: normal normal bold 18px/42px Muli;
  text-align: center;
  margin: 0;
}

.range-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ED1941;
}

.range-bar {
  height: 4px;
  width: 100%;
  border-radius: 3px;
  margin-top: 25px;
}

.pd-zero {
  padding-left: 0;
}
