.checkbox-container {
  margin-top: 10px;
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox-title {
  margin: 0;
  text-align: left;
  font: normal normal 600 14px/18px Muli;
  letter-spacing: 0px;
  color: #414141;
  margin-left: 9px;
}

.container {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 15px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #363636;
  border-radius: 1px;
  background-color: #FFFFFF;
}

.container:hover input ~ .checkmark {
  background-color: #FFFFFF;
}

.container input:checked ~ .checkmark {
  background-color: #43A047;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
