.ticket-header-title-container {
  padding-top: 12px;
  background-color: #FFFFFF;
}

.ticket-header-title {
  text-align: center;
  font: normal normal bold 20px/25px Muli;
  letter-spacing: 0px;
  color: #008A5D;
  line-height: 25px;
  margin: 0;
}

.ticket-header-date {
  text-align: center;
  font: normal normal bold 12px/15px Muli;
  letter-spacing: 0px;
  color: #363636;
  line-height: 13px;
  margin-top: 3px;
}

.location-icon {
  color: #3C3C3C;
}

.location-text {
  color: #363636;
  text-align: left;
  font: normal normal bold 14px/18px Muli;
  letter-spacing: 0px;
  margin: 0;
}

.location-divider {
  flex-direction: row;
  display: flex;
}

.icon-col {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  height: 24px;
}

.text-col {
  display: inline-block;
}

.location-subtitle {
  text-align: left;
  font: normal normal bold 11px/16px Muli;
  letter-spacing: 0px;
  color: #808080;
  margin: 0;
  margin-top: 3px;
}
