.tabs-container {
  flex-direction: row;
  display: flex;
  margin-top: 11px;
}

.tab {
  flex: 25%;
  height: 31px;
  border-bottom: solid 3px #00000000;
  cursor: pointer;
}

.selected-tab {
  border-bottom: solid 3px #008A5D;
}

.tab-title {
  text-align: center;
  margin: 0;
  font: normal normal bold 12px/28px Muli;
  letter-spacing: 0px;
}
